h3 {
    margin-bottom:  16px;
}

.tab-pane > table.table > tbody > tr > td {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.nav-pills > .active > a {
    background-color: #3c8700;
}

.btn-success {
    font-weight:    bold;
}

.well-important {
    background-color: #3c8700;
    color:  #fff;
}

.well-important > h3 {
    color:  #fff;
}

.comments {
    color:  #800;
}

