---
layout: default
---
<h1>Atsakyk į kelis klausimus -- sužinok, kurie Seimo nariai balsuoja taip kaip tu</h1>

<div class="span9">
    <div class="well">
        <h3>{{ page.title }}</h3>
        <p>...</p>
        <div class="btn-group" data-toggle="buttons-radio">
            <button class="btn">Labai už</button>
            <button class="btn">Daugiau už</button>
            <button class="btn">Man nesvarbu</button>
            <button class="btn">Daugiau prieš</button>
            <button class="btn">Man nesvarbu</button>
        </div>
    </div>
</div>
<div class="span3">
    Sidebar
</div>
